
body{font-family:Arial,sans-serif;margin:0;background:#111;color:#eee;line-height:1.6}
.container{max-width:1100px;margin:auto;padding:20px}
.hero{background:#1b1b1b;padding:40px 20px}
.hero-content{display:flex;gap:30px;align-items:center;flex-wrap:wrap}
.profile{width:220px;height:220px;border-radius:50%;object-fit:cover}
.btn{background:#4caf50;color:white;padding:12px 18px;text-decoration:none;border-radius:5px}
.card{background:#222;padding:20px;margin:20px 0;border-radius:10px}
.projectimg{width:100%;max-width:600px;border-radius:8px;background:#444;min-height:200px}
footer{text-align:center;padding:20px;background:#1b1b1b}
.navbar{
background:#1b1b1b;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
}

.navbar ul{
display:flex;
list-style:none;
gap:25px;
}

.navbar a{
color:white;
text-decoration:none;
}

.navbar a:hover

.blog-header{
text-align:center;
padding:60px 20px;
}

.blogcard{
background:#222;
padding:20px;
margin-bottom:30px;
border-radius:10px;
}

.blogimg{
width:100%;
max-width:800px;
border-radius:8px;
}

.article{
max-width:900px;
margin:auto;
padding:40px;
}

.articleimg{
width:100%;
border-radius:10px;
}

html{
scroll-behavior:smooth;
}
